@font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica'), url('../fonts/Helvetica.ttf') format('ttf');
}


@font-face {
    font-family: 'Helvetica Neue light';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica_Neue_light'), url('../fonts/Helvetica_Neue_light.ttf') format('ttf');
}




html, body {
  margin: 0;
  height:100%;
  width:100%;
  padding:0;
}

header img{
  width: 100px;
}





/* Icon 1 */

.animated-icon1, .animated-icon2, .animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  }
  
  .animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  }
  
 
  
  .animated-icon2 span {
  background: black;
  }
  
  
 
  
  /* Icon 3*/
  
  .animated-icon2 span:nth-child(1) {
  top: 0px;
  }
  
  .animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
  top: 10px;
  }
  
  .animated-icon2 span:nth-child(4) {
  top: 20px;
  }
  
  .animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
  }
  
  .animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  }
  
  .animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  }
  
  .animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
  }
  


  section {
    position: relative;
    
  }
  section::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 80%;
  }
  


 
  .demo a:hover {
    opacity: .5;
  }

  #section04 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb04 2s infinite;
    animation: sdb04 2s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb04 {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
    }
    20% {
      -webkit-transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
    } 
  }
  @keyframes sdb04 {
    0% {
      transform: rotate(-45deg) translate(0, 0);
    }
    20% {
      transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
      transform: rotate(-45deg) translate(0, 0);
    }
  }


  .navbar-light .navbar-toggler {
    border-color: white;
    padding: .50rem !important;
    
  
  }

.main {
  height: 85%;
}



hr {
  border: 1px solid;
  border-radius: 5px;    
  width: 100%;
  color: #a9a9a9;
  margin-top: 30px;
  margin-bottom: 30px;
}

.social {
  border: 0;
  width: 22px;
  height: 22px;
  background-size: 22px 22px;
  margin-right: 20px;
  float: left;
  

}

.resume_box {
  border: 0;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  z-index: 9999;
  position: relative;
  color: #000;
}

.resume {
  border: 0;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  z-index: 1;
}


.resume_box:hover .resume{
  transform: scale(1.05);
}


  

.project_container {
  position: relative;
  overflow: hidden;
  text-align:center;
  z-index: 10;
  border: 3px solid transparent;
  
}

.project_img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  
  
  
}

.img_overlay{
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  position: absolute;
  opacity:0;
  background-color:rgba(245,245,255,0.7);

}

.project_description{
  width: 80%;
  height: 100%;
  left: 10%;
  top: 20%;
  position: absolute;
}

#solar_system_generator{
  height: 50%;
  top: 50%;
  position: relative;
  z-index: 11;

}

.project_container:hover img {
  -ms-transform:scale(1.1);
  -webkit-transform:scale(1.1);
  transform:scale(1.1);
  transition:all .3s ease-in-out;
  -webkit-transition:all .3s ease-in-out;
  
  }

.project_container:hover .img_overlay {
  opacity:1;
  transition:all .3s ease-in-out;
  -webkit-transition:all .3s ease-in-out;
  }

.project_container:hover {
  border: 10px solid white;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  transition:all .3s ease-in-out;
  -webkit-transition:all .3s ease-in-out;
}





.email {
  color: #000;
    border-bottom: 1px solid #000;
    text-decoration: none;
}


@media only screen and (max-width: 768px){
    h1 {
      font-size: 200% !important;
    }

    p {
      font-size: 80%;
    }
}


